body{background-color: #f0f0f0}
/*header*/
.center-header{height: 50px;width: 100%;background-color: #ff841d;display: block;overflow: hidden;text-align: center;}
.center-he-l{float: left;width: 46px;height: 44px;}
.center-he-l img,.center-he-r img{height: 50px;}
.center-he-c{line-height: 50px;font-size: 18px;color: #fff;text-align: center;}
.center-he-r{float: right;width: 46px;height: 44px;}
/*center-bann*/
.center-bann{height: 85px;margin: 0 0 12px 0; background: url("../../images/wap-center/center-bann-img.png") no-repeat 0 0;background-size: cover;display: block;}
.bann-name{margin: 9px 0 0 18px;display: inline-block;}
.bann-name span{float: left;}
.bann-nam-img{width: 67px;height: 67px; background: url("../../images/wap-center/center-bann-bg.png") no-repeat 0 0;}
.bann-nam-img img{width: 54px;height: 54px; display: block;border-radius: 58px;margin: 7px 0 0 7px;}
.bann-nam-mid{font-size: 14px;color: #fff;margin: 0 0 0 13px; line-height: 65px;}
.bann-nam-mid em{width: 36px;height: 18px; display: inline-block;font-size: 12px;line-height: 18px;text-align: center;margin: 0 0 0 11px;
background: url("../../images/wap-center/center-pic-icon.png") no-repeat 0 0;}
/*section*/
section{width: 320px;margin: 0 auto;}
.center-list{border: 1px solid #e4e4e4;border-left: 0px;border-right: 0px;height: 316px;}
.center-list ul li{border-bottom: 2px solid #e4e4e4;background-color: #fafafa;height: 53px;display: block;}
.center-list ul li a{border-top: 1px solid #fff;border-bottom: 1px solid #fff;display: block;height: 51px;padding: 0 9px;line-height: 50px;}
.center-list ul li a span{font-size: 14px;color: #666;}
.list-cart{float: left;margin: 10px 0 0 0; height: 28px;line-height: 25px;padding: 0 0 0 35px; background: url("../../images/wap-center/center-pic-cart.png") no-repeat 0 0;}
.list-pic{height: 19px;width: 11px;margin: 16px 0 0 0; float: right;background: url("../../images/wap-center/center-pic-lzx.png") no-repeat 0 0;}
.center-list ul li a .numbe-bg{width: 28px;height: 14px;float:right;margin: 18px 8px 0 0; text-align: center;line-height: 14px;font-size: 11px;color: #fff;
background: url("../../images/wap-center/center-pic-numbg.png") no-repeat 0 0;}
.list-order{background: url("../../images/wap-center/center-pic-order.png") no-repeat 0 0;}
.list-addres{background: url("../../images/wap-center/center-pic-addres.png") no-repeat 0 0;}
.center-button{height: 41px;border-top: 1px solid #e6e6e6;display: block;}
.cent-but-bg{background-color: #fff;display: block;border-top: 1px solid #f6f6f6;border-bottom: 1px solid #f6f6f6;height:38px;padding: 0 9px;line-height: 38px;}
.but-bg-l{float: left;font-size: 14px;color: #666;}
.but-bg-l a{padding: 0 5px 0 0;color: #666;}
.but-bg-r{float: right; color: #666}
/*center-myroder*/
.center-roder{border: 0;}
.myroder-mid{background-color: #fff;border-top: 1px solid #f6f6f6;display: block; border-bottom: 1px solid #f6f6f6;padding: 14px 9px 12px 9px;position: relative;margin: 0 0 8px 0}
.myroder-mid span{display: block; color: #999;font-size: 14px;}
.myroder-mid .myroder-cont{margin: 0 0 5px 0;}
.myroder-mid .myroder-cont label{color: #333}
.myroder-pic{width: 9px;height: 13px;position: absolute; right: 10px;top: 35px;
background: url("../../images/wap-center/center-myorder-pic.png") no-repeat 0 0;}
.myroder-total{display: block;overflow: hidden;}
.myroder-total-l{float: left;}
.myroder-mid .myroder-total-l dfn{color: #f18100}
.myroder-mid .myroder-total-r{float: right;}
.myroder-mid .myroder-total-r label{color: #f70000}
.myroder-mid .myroder-total-r label dfn{font-weight: bold;}

/*center-no-roder*/
.center-no-roder{text-align: center;border: 0;}
.center-no-roder span{display: block;color: #666; font-size: 16px;}
.center-no-roder span dfn{font-size: 20px;color: #f18100;margin: 0 5px;}
.center-no-roder .order-pic{width: 90px;height: 109px;display: inline-block;margin: 18px auto 25px;
background: url("../../images/wap-center/center-no-order.png") no-repeat 0 0;}
.center-no-roder .no-order{font-size: 20px;font-weight: bold;margin: 0 0 5px 0}
.roder-button{width: 114px;height: 38px;background-color: #f24040;border-bottom: 2px solid #c80f0f;text-align: center;line-height: 38px;font-size: 18px;color: #fff;display: block;border-radius: 3px;
margin: 34px auto 0;}



/*footer*/
.center-footer{background-color: #dfdfdf;height: 50px;text-align: center; padding: 10px 0 0 0;border-top: 1px solid #e4e4e4;}
.center-footer span{display: block;color: #666;font-size: 11px; margin: 0 0 8px 0}
.center-footer span a{font-size: 12px;color: #666;padding: 0 5px 0 0}
.center-footer span .touch-screen{color: #f18100}














